---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---


<div class="pub-sections">

  <section class="pub-block">
    <h2 class="pub-heading">Preprints</h2>
    <div class="pub-list">
      {% assign preprints = site.publications | where:"type","preprint" | sort:"date" | reverse %}
      {% for pub in preprints %}
        {% include custom-preprint.html pub=pub %}
      {% endfor %}
    </div>
  </section>

  <section class="pub-block">
    <h2 class="pub-heading">Publications</h2>
    <div class="pub-list">
      {% assign pubs = site.publications | where:"type","publication" | sort:"date" | reverse %}
      {% for pub in pubs %}
        {% include custom-publication.html pub=pub %}
      {% endfor %}
    </div>
  </section>

  <section class="pub-block">
    <h2 class="pub-heading">PhD</h2>
    <div class="pub-list">
      {% assign phd = site.publications | where:"type","phd" | sort:"date" | reverse %}
      {% for pub in phd %}
        {% include custom-phd.html pub=pub %}
      {% endfor %}
    </div>
  </section>

    <section class="pub-block">
    <h2 class="pub-heading">Reviewer</h2>
    <p class="pub-meta">I served as a reviewer for Journal of American Statistical Association, Environmetrics, Statistical Methods and Applications, AISTATS 2023 and ICML 2023.</p>
  </section>

</div>

<!--{% if site.author.googlescholar %}
#  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
#{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}-->



