<li class="talk-item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p class="talk-meta">
      <strong>{{ post.date | date: "%B %Y" }}</strong> : {{ post.type | capitalize }} on "{{ post.title }}" at {{ post.conference }}, {{ post.university }}, {{ post.city }}
      {% if post.manuscript %} – <a href="{{ post.manuscript | relative_url }}">manuscript</a>{% endif %}
      {% if post.slides %} – <a href="{{ post.slides | relative_url }}" download>slides</a>{% endif %}
    </p>

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}
  </article>
</li>