{% comment %}
  Custom publication display:
  Title
  Authors, journal, volume, year, url
{% endcomment %}

<div class="pub-item">
  <h3 class="pub-title">{{ pub.title }}</h3>
  <p class="pub-meta">
    {% if pub.authors %}{{ pub.authors }}{% endif %}
    {% if pub.journal %}, <em>{{ pub.journal }}</em>{% endif %}
    {% if pub.volume %} {{ pub.volume }}{% endif %}
    {% if pub.year %} ({{ pub.year }}){% endif %}
    {% if pub.paperurl %} – <a href="{{ pub.paperurl }}">paper</a>{% endif %}
    {% if pub.codeurl %} – <a href="{{ pub.codeurl }}" target="_blank">code</a>{% endif %}

  </p>
</div>
